@import '@fontsource-variable/montserrat';
@import '@fontsource/material-icons';

html, body {
	height: 100%;
	max-height: 100vh;
	margin: 0;
}

*::-webkit-scrollbar{
	background-color: transparent;
	width: 12px;
}
*::-webkit-scrollbar-thumb{
	background-color: var(--ui-2);
	border-radius: 1000px;
}

html {
	--ui-1: #242424;
	--ui-2: #3d3d3d;
	--ui-accent: gold;
}

html {
	&.rounded {
		border-radius: 8px;
	}

	mask-image: -webkit-radial-gradient(white, black);

	overflow: hidden;
}

body {
	display: flex;
	flex-direction: column;
}

body {
	font-family: 'Montserrat Variable', sans-serif;
	color: white;
}

input, button {
	font-family: inherit;
	color: inherit;
}

.g-elevated {
    box-shadow: #0008 0px 0px 8px;
}

i.mi {
	font-style: normal;
	font-family: 'Material Icons', sans-serif;
}
