@import '@fontsource-variable/montserrat';
@import '@fontsource/material-icons';

html, body {
	height: 100%;
	max-height: 100vh;
	margin: 0;
}

*::-webkit-scrollbar{
	background-color: transparent;
	width: 12px;
}
*::-webkit-scrollbar-thumb{
	background-color: var(--ui-2);
	border-radius: 1000px;
}

html {
	--ui-1: #242424;
	--ui-2: #3d3d3d;
	--ui-3: #565656;
	--ui-invert: #efefef;
	--ui-accent: gold;
	--ui-error: crimson;
	--on-ui: #efefef;
	--on-accent: #131313;
}

html {
	&.rounded {
		border-radius: 8px;
	}

	mask-image: -webkit-radial-gradient(white, black);

	overflow: hidden;
}

body {
	display: flex;
	flex-direction: column;
}

body {
	font-family: 'Montserrat Variable', sans-serif;
	color: var(--on-ui);
}

input, button {
	font-family: inherit;
	color: inherit;
}

input {
	border: none;
	border-radius: 1000px;
	outline: none;
	padding: 8px 16px;
	color: var(--on-accent);
	background: var(--ui-invert);

	&:-webkit-autofill::first-line {
	  font-family: inherit;
	  font-size: 0.5em;
	}
}


hr {
	border: 1px solid var(--ui-2);
}

i.mi {
	display: inline-block;
	padding-bottom: 0.08em;
	font-style: normal;
	font-family: 'Material Icons', sans-serif;
	vertical-align:middle;
}


.g-bubble {
	border: none;
	border-radius: 1000px;
	outline: none;
	padding: 8px 16px;
	background-color: var(--ui-accent);
	color: var(--on-accent);
	transform: scale(1.0);
	transition: 
		transform 50ms ease,
		filter 100ms ease,
		opacity 100ms ease;

	&.gb-plain {
		background-color: var(--on-ui)
	}

	&:hover {
		transform: scale(1.05);
		filter: brightness(1.1)
	}

	&:active {
		transform: scale(0.975);
		filter: brightness(0.7)
	}

	&:disabled {
		opacity: 60%;
	}
}

.g-elevated {
    box-shadow: #0004 0px 0px 8px;
}

.g-icon-button {
  border: 0;
  width: 24px;
  height: 24px;
  border-radius: 1000px;
  padding: 0;
  background: transparent;
  font-size: 20px;
  user-select: none;

  transition: background-color 100ms ease;

  & i.mi {
	display: block;
	padding-bottom: 0em;
  }
}
.g-icon-button:hover {
  background: color-mix(in srgb, var(--on-ui) 25%, transparent);
}
.g-icon-button:active {
  background: color-mix(in srgb, var(--on-ui) 50%, transparent);
}
